<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Pharmacy Inventory System</display-name>

    <!-- Seedha login page pe aao -->
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>

    <!-- Session timeout 30 min -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

   
    <!-- LogoutServlet -->
   

</web-app>